*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.Header{
    height: 100vh;
    width: 100%;
    background-image: url("abstract-textured-backgound\ \(1\).jpg");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
nav ul li a:hover{
    color: cornflowerblue;
    transition: 0.3s;
}
.Content{
    top: 90;
    left: 30;
    position: absolute;
    transform: translate(50%,50%);
    
}
h4{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
h5{
    color: white;
    font-family:sans-serif;
    font-size: 15px;
    font-style: oblique;
}
.pic{
    height: 17%;
    width: 20%;
    margin-top: 30px
}
.con{
    top: 90;
    left: 30;
    position: absolute;
    transform: translate(50%,50%);
}
.con2{
    color: aqua;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
}
.para{
    color: white;
    margin-top: 15px;
}
.foot{
    color: aqua;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
}
.mess{
    color: white;
    margin-top: 10px;
}
.about{
    width: auto;
    height: auto;
    background-color: black;
}
.about h2{
    color: white;
    font-style: oblique;
    margin-left: 450px;
    margin-top: 80px;
    font-size: 25px;
}
.about img{
    width: 100px;
    height:100px;
    margin-left: 450px;
    margin-top: 100px;
}
.about info{
    color: white;
}